@use "../../node_modules/@crossfox/css-start/dist/base.min.css";
@import "fonts";
@import "variables";

@mixin isMobile {
  @media (max-width: $width-mob) {
    @content;
  }
}

@mixin isDesktop {
  @media (min-width: $width-mob) {
    @content;
  }
}

html {
  font-size: 1.95vw;
  scroll-padding-top: 4rem;
  @include isDesktop {
    font-size: .54vw;
  }
}

body {
  font: 400 185%/1.5 $font-main;
  display: flex;
  flex-direction: column;
  @include isDesktop {
    font-size: 170%;
  }
}

img{
  object-fit: contain;
}
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  @include isDesktop {
    width: 85%;
  }
}

.container-2{
  width: 90%;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  @include isDesktop {
    width: 65%;
  }

}



@property --num {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

%mc {
  margin-left: auto;
  margin-right: auto;
}

%pos-fix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
%pos-fix-full{
  @extend %pos-fix;
  height: 100%;
}
%pos-full {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.flex-bt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@keyframes moveUp {
  0% {
    background-position: -10% 0;
  }
  100% {
    background-position: -10% 90px;
  }
}

@keyframes anim-btn {
  50% {
    left: 0;
  }
  100% {
    left: 150%;
  }
}


@include isMobile {
  .only-desktop {
    display: none;
  }
}

@include isDesktop {
  .only-mobile {
    display: none;
  }
}


%box-1{
  background: #fff;
  padding: 2rem 3rem;
  transition: 0.1s all;
  border-radius: 2rem;
  border: .1rem solid #e4e4e4;
}
.mgc{
  @extend %mc;
  margin-top: 7rem;
  text-align: center;
}

.nowrap{
  text-wrap: nowrap;
}

.like-p, p {
  font-size: $font-s;
  font-weight: 400;
  color: #888
}

.link {
  color: $brand-color;
  font-weight: 700;
}

main {
  flex-grow: 1;
}
section[class*='modal-'] {
  position: fixed;
  background: #fff;
  z-index: 9;
  transition: .4s;
  padding: 2rem 0;
  @include isMobile {
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 3rem 3rem 0 0;
  }
  @include isDesktop {
    top: 50%;
    left: 50%;
    width: 65rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .1);
    transform: translate(-50%, -50%);
    border-radius: 3rem 3rem;
  }

}
body:not(.active-modal-ask) .modal-ask, body:not(.active-modal-consultant) .modal-consultant, body:not(.active-modal-roadmap) .modal-roadmap {
  @include isMobile {
    transform: translateY(100%);
  }
  @include isDesktop {
    transform: translate(-50%, -50%) scale(0);
  }
}
h1, h2:not([class*="like-"]), h3, h4, h5, h6 {
  font-family: $font-header;
  word-spacing: -.05em;
}

h2:not([class*="like-"]) {
  line-height: 1;
  font-size: 3.2rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  width: fit-content;
  margin: -.1rem auto 4rem;
  color: $brand-color-2;
  position: relative;
  @include isDesktop {
    margin-bottom: 6rem;
  }

}


h3 {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: $font-m;
}


form {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  label > b {
    display: block;
    margin-bottom: .2rem;
  }

  select, option, input, textarea {
    background: #fffffa;
    border: .1rem solid #aaa;
    padding: .6rem;
    width: 100%;
  }
}

textarea {
  resize: vertical;
}

img[alt="Express"] {
  filter: drop-shadow(0 0 .3rem rgba(0, 0, 0, .4));
}
body[class*="active-modal-"] .overlay {
  z-index: 9;
  pointer-events: auto;
  opacity: 1;
}


section[id] {
  padding: 7rem 0;
  position: relative;
  // overflow: hidden;

  &.dark {
    color: $text-color-dark;
    background: linear-gradient(45deg, $bg-color-dark, adjust-color($bg-color-dark, $lightness: 2%));
  }

  color: $text-color;
  background: $bg-color;
}

.dark {
  .like-p, p {
    color: #999
  }
}

.dark h2::after {
  filter: invert(100%);
}
