@import "base";

@keyframes bg-rotate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 200%;
  }
}

.js {
  [class*='anim-fade-'] {
    transition: .3s $anim-func;
    opacity: 0;

    &.run {
      opacity: 1;
      translate: initial;
    }
  }

  .anim-fade-top {
    translate: 0 3vw;
  }

  .anim-zoom-item {
    scale: 0;
    filter: blur(.5rem);
    transition: .3s $anim-func;

    &.run {
      scale: 1;
      filter: blur(0);
    }
  }
}

@include isDesktop {
  .decor-balls {


    position: absolute;
    overflow: hidden;
    max-width: 100vw;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    div {
      background: $gradient-2;
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      position: absolute;
      transition: translate .3s linear;
    }
  }
}
