#start {
  position: relative;
  display: flex;
  align-items: center;
  //background: url(https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg);

  h1 {
    margin-top: 10rem;
    position: relative;
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 5rem;
    line-height: 1.25;
    text-transform: uppercase;

    .watchword {
      color: $brand-color;
      &::after{
        content: '';
        margin-left:.2ex;
        display: inline-block;
        width: .2rem;
        line-height: 1.5;
        height: .8em;
        background-color: $brand-color;
        animation: blink 1.5s step-end infinite;
      }
    }
  }


  .start-list-feature {
    display: flex;
    gap: 3rem;
    margin-bottom: 4rem;
    max-width: 100%;
    overflow: scroll;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin-bottom: 1rem;
      flex: 0 0 auto;


      img {
        width: 3rem;
      }

      p {
        color: #fff;
        margin-bottom: 0.4rem;
      }
    }
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2 {
      color: #fff;
      font-size: 2rem;
      margin: 0;
    }

    @include isDesktop {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .card {
      min-height: 22rem;
      //border-left: .3rem solid #6b6b6b;
      padding: 2.5rem 3rem;
      color: #f89f73;
      // background:  linear-gradient(180deg, rgba(1,1,1,1) 0%, rgba(75,76,156,1) 60%, rgba(29,32,55,1) 94%);
      background: linear-gradient(-327deg, #1e2231, #3a4568, #6b7597);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 2rem;
      //border-top-right-radius: 2rem;
      //border-bottom-right-radius: 2rem;
      .card-top {
        position: relative;

        &::after {
          content: '';
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          width: 3rem;
          height: 2rem;
          background: url('../img/arrows/arrow-left.svg') center right/3rem auto;
        }
      }

      .card-bottom {
        align-items: center;

        .card-tech {
          display: flex;
          align-items: center;
          gap: .5rem;

          img {
            width: 2.5rem;
            border-radius: 100%;
          }
          .more{
            margin-left:1rem;
            color: #fff;
            font-weight: 600;
          }
        }
      }

      h3 {
        color: #fff;
      }

      p {
        color: #fff;
      }

      > * {
        display: flex;
        justify-content: space-between;
      }

      .card-list {
        display: flex;
        gap: 1rem;
        justify-content: stretch;
        margin: 2rem 0 3rem 0;

        li {
          border: .1rem solid $brand-color;
          padding: 1rem;
          font-size: 1.5rem;
        }
      }
    }
  }
}