@import "variables";

.subpage-1 {

  .tags {
    display: flex;
    gap: 2rem;
    max-width: 80rem;
    margin-bottom: 2rem;

    div {
      border-radius: $border-radius;
      padding: .5rem 1rem;
      flex-grow: 1;
      border: .2rem solid $brand-color;
    }
  }
  button{
    border-radius: $border-radius;
  }
}

#group-mentors{
  .container{
    display: flex;
  }
  .text{
    h2{
      margin: 0 0 1rem 0;
    }
    .subtitle{
      margin-bottom: 4rem;
    }
    .list{
      display: grid;
      grid-template-columns: 30rem 35rem;
      gap: 2rem;
      .item{
        display: flex;
        align-items: center;
        border-radius: $border-radius;

        h3{
          margin: 0;
          padding: 2rem 1rem 2rem 3rem;
          color: $brand-color;
        }
        &:nth-child(1){
        }
        &:nth-child(2){

          span{
            display: block;
          }
        }
        &:nth-child(2),&:nth-child(3){
          background: $bg-dark;
          h3{
            span{
              color: $text-color-dark;
            }
          }
        }
        &:nth-child(1){
          border: .1rem solid $bg-color-dark;
          h3{
            span{
              color: $text-color;
            }
          }
        }
      }
    }
  }
  .image{
    margin: 0 auto;
    img{
      max-width: 50rem;
    }
  }
}

#positive-sign {
  h2 {
    text-align: left;
    margin: 0;
  }

  .list {
    display: flex;
    flex-direction: column;

    .item {
      min-height: 20rem;
      display: flex;
      align-items: stretch;
      h2{
        margin-bottom: 1rem;
      }
      img{
        width: 2rem;
      }
      .item-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .container{
        display: flex;
        gap: 10rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
      .animation{
        width: 40rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
      }
      .animation-user{
          img{
            width: 5rem;
            position: absolute;
            &:nth-child(1){
              left: 0%;
              top: 35%;
            }
            &:nth-child(2){
              right: 0%;
              top: 0%;
            }
            &:nth-child(3){
              right: 35%;
              bottom: 0%;
            }
          }
      }


      &:nth-child(2){
        background: $bg-dark;
        color: $text-color-dark;
      }
    }
  }
}
#game{
  h2 {
    text-align: left;
    margin: 0;
    margin-bottom: 1rem;
  }
  .container{
    display: flex;
    align-items: center;
  }
  .animation-game{
    width: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    img{
      width: 10rem;
    }
    span{
      position: absolute;

      &:nth-child(1){
        border-left: .6rem solid transparent;
        border-right: .6rem solid transparent;
        border-bottom: .6rem solid $text-color-dark;
        left: 35%;
        top: 15%;
      }
      &:nth-child(2){
        border-left: .3rem solid transparent;
        border-right: .3rem solid transparent;
        border-bottom: .3rem solid $text-color-dark;
        right: 30%;
        top: 18%;
      }
      &:nth-child(3){
        border-left: .5rem solid transparent;
        border-right: .5rem solid transparent;
        border-bottom: .5rem solid $text-color-dark;
        right: 27%;
        bottom: 34%;
      }
      &:nth-child(4){
        border-left: .4rem solid transparent;
        border-right: .4rem solid transparent;
        border-bottom: .4rem solid $text-color-dark;
        left: 50%;
        bottom: 15%;
      }
      &:nth-child(5){
        border-left: .8rem solid transparent;
        border-right: .8rem solid transparent;
        border-bottom: .8rem solid $text-color-dark;
        left: 20%;
        bottom: 30%;
      }
    }
  }
}

#positive-sign-dark {
  position: relative;
  h2 {
    text-align: left;
    margin: 0;
  }

  .graphic-man{
    position: absolute;
    bottom: 0;
    right: 15%;
  }
  .container {
    display: flex;
    flex-direction: row;
  }

  .animation {
    width: 30rem;
    position: relative;

    div {
      position: absolute;

      &:nth-child(1) {
        bottom: -170%;
        left: -80%;
        width: 30rem;
        height: 30rem;
        background: $brand-color-2;
        border-radius: 50%;
      }

      &:nth-child(2) {
        bottom: 80%;
        left: 20%;
        width: 5rem;
        height: 5rem;
        background: $brand-color-2;
        border-radius: 50%;
      }

      &:nth-child(3) {
        bottom: 0%;
        left: 50%;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        background: $brand-color-2;
      }
    }
  }

  .list-head {
    margin-bottom: 3rem;

    h2 {
      margin-bottom: .5rem;
    }
  }

  .tags {
    display: flex;
    gap: 2rem;

    > div {
      border-radius: $border-radius;
      padding: .5rem 1rem;
      border: .2rem solid $brand-color;
    }
  }
}

#where-used {
  .container {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
  }

  .text-box {
    margin-top: 5rem;

    h2 {
      margin: 0 0 2rem 0;
    }
  }

  .list {
    display: flex;
    width: 50%;
    height: 30rem;
    flex-direction: column;
    gap: 4rem;
    position: relative;

    .item {
      position: absolute;
      display: flex;
      align-items: center;
      gap: 2rem;

      &:nth-child(1) {
        left: 40%;
        top: 0%;
      }

      &:nth-child(2) {
        left: 0%;
        top: 40%;
      }

      &:nth-child(3) {
        left: 55%;
        top: 50%;
      }

      &:nth-child(4) {
        left: 20%;
        top: 95%;
      }

      h3 {
        padding-bottom: 1rem;
        border-bottom: .1rem solid $text-color;
      }

      img {
        min-width: 5rem;
        width: 5rem;
      }
    }

    .item-span {
      position: absolute;
      left: 41%;
      top: 55%;

      .item-box {
        position: relative;

        span {
          position: absolute;
          display: block;
          height: .1rem;
          width: 5rem;
          background: $text-color;

          &:nth-child(1) {
            transform: rotate(-70deg);
          }

          &:nth-child(2) {
            transform: rotate(10deg);
          }
        }
      }
    }
  }
}


#about-pro {
  .container {
    display: flex;
    gap: 10rem;
  }

  .box-img {
    width: 55rem;
  }

  .box {
    margin-top: 5rem;

    h2 {
      margin: 0 0 2rem 0;
    }
  }
}

.tech-anim {
  height: 50rem;
  position: relative;

  img {
    position: absolute;
    max-width: 3rem;

    &[alt="HTML"] {
      top: 50%;
      left: 50%;
      transform: scale(1.8);
    }

    &[alt="CSS"] {
      top: 65%;
      left: 80%;
      transform: scale(1.6);
    }

    &[alt="Javascript"] {
      top: 30%;
      left: 60%;
      transform: scale(2);
    }

    &[alt="Sass"] {
      top: 70%;
      left: 30%;
      transform: scale(1.5);
    }

    &[alt="Typescript"] {
      top: 10%;
      left: 80%;
      transform: scale(1.4);
    }

    &[alt="React"] {
      top: 30%;
      left: 30%;
      transform: scale(1.7);
    }

    &[alt="Vue"] {
      top: 7%;
      left: 40%;
      transform: scale(1.6);
    }

    &[alt="Git"] {
      top: 40%;
      left: 90%;
      transform: scale(1.3);
    }

    &[alt="Jquery"] {
      top: 84%;
      left: 58%;
      transform: scale(1.1);
    }

    &[alt="Bootstrap"] {
      top: 70%;
      left: 30%;
      transform: scale(1.2);
    }

    &[alt="Vite"] {
      top: 50%;
      left: 15%;
      transform: scale(1.3);
    }

    &[alt="Mui"] {
      top: 80%;
      left: 5%;
      transform: scale(0.9);
    }

    &[alt="Antd"] {
      top: 36%;
      left: 0;
    }

    &[alt="Reduxsaga"] {
      top: 98%;
      left: 84%;
      transform: scale(0.9);
    }

    &[alt="Websocket"] {
      top: 13%;
      left: 10%;
    }

    &[alt="SVG"] {
      top: 97%;
      left: 30%;
      transform: scale(0.9);
    }

  }
}