@import "base";
@import "header";
@import "carousel";
@import "swiper";
@import "decoration";
@import "home";
@import "subpage";

/*
https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg

 */


#about {
  .container {
    display: flex;
  }

  .text-box {
    width: 50%;

    h2 {
      margin: 0 0 2rem 0;
    }

    p {
      font-size: 2rem;
      color: $text-color;

      strong {
        font-weight: 600;
      }
    }
  }

  .animation {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .blocks {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      width: 20rem;

      .item {
        border: .3rem solid $text-color;
      }

      .first {
        width: 100%;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        padding: 0 0 1rem 0.8rem;

        span {
          display: block;
          height: 0.8rem;
          width: 0.8rem;
          background: $text-color;
          border-radius: 100%;
        }

        img {
          margin: 0.2rem 0.8rem 0 auto;
          width: 1.6rem;
        }
      }

      .second {
        width: 50%;
        height: 7rem;
        padding: 1.5rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        span {
          width: 100%;
          height: .3rem;
          background: $text-color;
        }
      }

      .last {
        width: 45%;
        height: 7rem;
        animation: 5s anim-block linear infinite;
        transition: all 1s;
      }
    }

    .cursor {
      position: absolute;
      transition: all 1s;
      animation: 5s anim-cursor linear infinite;
    }

    .element {
      background: $brand-color;
      transition: all 1s;
      width: 1rem;
      height: 1rem;
      position: absolute;
      animation: 5s anim-element linear infinite;
    }
    .back{
      position: absolute;
    }
    .back-setting {
      bottom: 15%;
      left: 20%;
      width: 4rem;
    }
    .back-codding {
      top: -30%;
      right: 25%;
      width: 3rem;
      rotate: 15deg;
    }
    .back-asterisk {
      top: 120%;
      right: 45%;
      width: 3rem;
      rotate: 15deg;
    }

    @keyframes anim-cursor {
      0% {
        bottom: 40%;
        right: 0%;
      }
      20% {
        bottom: 10%;
        right: 40%;
      }
      100% {
        bottom: 10%;
        right: 40%;
      }
    }
    @keyframes anim-element {
      0% {
        bottom: 55%;
        right: 3%;
      }
      20% {
        bottom: 25%;
        right: 43%;
      }
      30% {
        display: none;
      }
      100% {
        display: none;
      }
    }
    @keyframes anim-block {
      0% {
        background: none;
        border: .3rem dashed $text-color-gray;
      }
      39% {
        background: none;
        border: .3rem dashed $text-color-gray;
      }
      40% {
        border: none;
        background: $brand-color;
      }
      100% {
        border: none;
        background: $brand-color;
      }
    }
  }
}

#why-our {
  .title {
    text-align: left;
    margin-left: 0;
    margin-bottom: 4rem;
  }

  .list {
    gap: 4rem;
    display: flex;
    flex-direction: column;

    .item {
      border-left: .1rem solid #262a3c;
      padding: 2rem 2rem 3rem 4rem;

      > div {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 2rem;
      }

      img {
        width: 4rem;
        margin-top: .2rem;
      }

      h2 {
        line-height: 1.2;
        text-align: left;
        margin: 0;

        color: $text-color;
      }
    }
  }
}

#review {
  h2 {
    text-align: left;
    margin-left: 0;

    span {
      color: $text-color-dark;
      display: block;
      margin-top: 0.5rem;
    }
  }

  .item {
    flex: 0 0 auto;
    border-radius: $border-radius;
    margin-right: 2rem;

    iframe {
      border-radius: $border-radius;
      height: 70rem;
      max-width: 100%;
      border: 0;
      display: flex;

    }
  }
}



@keyframes blink {
  50% {
    opacity: 0;
  }
}