@import "base";
@import "header";
@import "carousel";
@import "decoration";

#start {
  position: relative;
  display: flex;
  align-items: center;

  h1 {
    margin-top: 10rem;
    position: relative;
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 5.25rem;
    line-height: 1.25;
    text-transform: uppercase;

    .orange {
      color: $brand-color;
    }
  }

  h2 {
    margin: 0;
    color: #fff;

  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .card {
      min-height: 22rem;
      //border-left: .3rem solid #6b6b6b;
      padding: 2.5rem 3rem;
      color: #f89f73;
    //  background: linear-gradient(-327deg, #1e2231, #3a4568, #6b7597);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 2rem;
      //border-top-right-radius: 2rem;
      //border-bottom-right-radius: 2rem;
      box-shadow: .2rem 0 .4rem .1rem #262a3c;
      > * {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

