@import "variables";
.subpage-1{
  .tags{
    display: flex;
    gap: 2rem;
    div{
      border-radius: $border-radius;
      padding: .5rem 1rem;
      flex-grow: 1;
      border: .2rem solid $brand-color;
    }
  }
}

#positive-sign{
  .list{
    .item{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2.5rem 3rem;
      >h2{
        text-align: left;
        margin: 0 0 1rem 0;
        line-height: 1.25;
      }
      &:nth-child(1){
        grid-area: a;
        margin-left: 5rem;
      //  Групповое менторство
      }
      &:nth-child(2){
        grid-area: b;
        background: $brand-color;
        // Полностью удаленное обучение
        h2{
          color: $text-color-dark;
        }
      }
      &:nth-child(3){
        grid-area: c;
        background: $bg-dark;
        color: $text-color-dark;
        padding: 4rem 3rem;
        // 1 занятие в неделю с ментором 1 на 1
      }
      &:nth-child(4){
        grid-area: d;
        background: $brand-color;
        // Портфолио коммерческого уровня
        h2{
          color: $text-color-dark;
        }
      }
      &:nth-child(5){
        // Специальная авторская методика
        grid-area: e;
      }
      &:nth-child(6){
        // Программа рассчитана на 2025 год+
        grid-area: f;
        border: 1px solid $brand-color;
      }
      &:nth-child(7){
        // Обучение до 7 человек в группе
        grid-area: g;
        background: $bg-dark;
        color: $text-color-dark;
        h2{
          color: $text-color-dark;
        }
      }
      &:nth-child(8){
        // Интерактивный способ обучения
        grid-area: h;
        padding: 4rem 3rem;
        background: $bg-dark;
        color: $text-color-dark;
      }
    }
    display: grid;
    gap: 3rem;
    grid-template-areas:
            "a a b"
            "c c c "
            "d e e"
            "f f g"
            "h h h";
  }
}



.tech-anim{
  height: 50rem;
  position: relative;

  img{
    position: absolute;
    max-width: 3rem;
    &[alt="HTML"]{
      top:50%;
      left:50%;
      transform: scale(1.8);
    }
    &[alt="CSS"]{
      top:65%;
      left:80%;
      transform: scale(1.6);
    }
    &[alt="Javascript"]{
      top:30%;
      left:60%;
      transform: scale(2);
    }
    &[alt="Sass"]{
      top:70%;
      left:30%;
      transform: scale(1.5);
    }
    &[alt="Typescript"]{
      top:10%;
      left:80%;
      transform: scale(1.4);
    }
    &[alt="React"]{
      top:30%;
      left:30%;
      transform: scale(1.7);
    }
    &[alt="Vue"]{
      top:7%;
      left:40%;
      transform: scale(1.6);
    }
    &[alt="Git"]{
      top:40%;
      left:90%;
      transform: scale(1.3);
    }
    &[alt="Jquery"]{
      top:84%;
      left:58%;
      transform: scale(1.1);
    }
    &[alt="Bootstrap"]{
      top:70%;
      left:30%;
      transform: scale(1.2);
    }
    &[alt="Vite"]{
      top:50%;
      left:15%;
      transform: scale(1.3);
    }
    &[alt="Mui"]{
      top:80%;
      left:5%;
      transform: scale(0.9);
    }
    &[alt="Antd"]{
      top:36%;
      left:0;
    }
    &[alt="Reduxsaga"]{
      top:98%;
      left:84%;
      transform: scale(0.9);
    }
    &[alt="Websocket"]{
      top:13%;
      left:10%;
    }
    &[alt="SVG"]{
      top:97%;
      left:30%;
      transform: scale(0.9);
    }

  }
}